:root{
    --exp-title-width: 200px;
    --exp-company-color: #e64700;
    --about-me-box-width: 100%;
    --exp-margin-top: 16rem;
}
.about-me-wrapper{
    margin: 0 auto;
    padding: 2rem;
    width: calc(var(--about-me-box-width) - 4rem);
    max-width:calc(50rem - 4rem);
    line-height: 2;
    box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
    text-align: justify;
    position: relative;
    background-color: #1f2a399e;
}
.lottie-container-2{
    height: 150px;
    overflow: hidden;
}

.lottie-container-2 lottie-player,
.lottie-container-3 lottie-player{
    height:200px;
    width:200px;
}
.lottie-container-4 lottie-player{
    height: 200px;
}

.lottie-container-3{
    height: fit-content;
    margin-bottom: -2rem;
}

.lottie-container-4{
    height: 161px;
    width: 175px;
    overflow-y: hidden;

}

.box-title{
    height: 1.75rem;
    width: -webkit-fill-available;
    margin-bottom: 0.25rem;
    padding-left: 2rem;
}

.wave-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.box-title h2 {
    font-size: 1.75rem;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;
    text-align: right;
}

.even .box-title h2{
    text-align: left;
}

.box-title .border {
	color: black;  
  text-shadow:
    -1px -1px 0 white, 
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

.box-title .wave {
	color: white;
	animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
	0%, 100% {
		clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

.content-header-wrapper{
    width: var(--about-me-box-width);
    max-width:50rem;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border:1px solid beige; */
    margin: 0 auto;
}

.content-header-wrapper.even{
    flex-direction: row-reverse;
}

.content-header-wrapper.height-300{
    height: 300px;
}

.exp-mega-wrapper{
    position:relative;
}

.exp-wrapper{
    width: fit-content;
    /* margin: var(--exp-margin-top) auto; */
    /* padding-top: 2rem; */
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
    border-radius: 10px;
}

.exp-wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.exp-wrapper .row {
    display: flex;
    width: var(--about-me-box-width);
    max-width:50rem;
    flex-direction: column;
}
.exp-wrapper .row .col {
    flex: 1;
}

.exp-wrapper .row .col.col-description{
    padding: 2.5rem 2rem 2rem 2rem;
    text-align: left;
    line-height: 2;
}
/* Accordion styles */
.exp-wrapper .tabs {
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
}
.exp-wrapper .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    box-shadow: none;
}
.exp-wrapper .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
}

.exp-wrapper .tab-label > span{
    display:flex;
    position: relative;
}
.exp-wrapper .tab-label:hover {
    background: #1a252f;
}
.exp-wrapper .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s ease-in-out;
}
.exp-wrapper .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.75s ease-in-out;
    text-align: justify;
    font-size: 15px;
    padding:1rem;
    margin-bottom:-32px;
}

.exp-wrapper .tab-content p{
    margin:0;
    padding-bottom: 1.25rem;
    position: relative;
    line-height: 1.375rem;
}

.exp-wrapper .tab-content p:not(.tab-company):not(.tab-product)::before{
    content: "▹";
    position: absolute;
    z-index: 10;
    left: 0px;
}
.exp-wrapper .tab-content p:not(.tab-company):not(.tab-product){
    padding-left:25px;
}

.exp-wrapper .tab-content p.tab-company{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;

}

.exp-wrapper input:focus + .tab-label{
    background: #1a252f;
    pointer-events: none;
}
.exp-wrapper input:focus + .tab-label::after{
    transform: rotate(90deg);
}
.exp-wrapper input:focus ~ .tab-content{
    max-height: 100vh;
    margin-bottom:0;
}

.exp-wrapper .tab-title{
    min-width: var(--exp-title-width);
    display: inline-block;
    text-align: left;
}
.exp-wrapper .tab-company{
    color: var(--exp-company-color);
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 0 !important;
    font-size: 14px;
}

.exp-wrapper .tab-product{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding-bottom: 30px;
}

.exp-wrapper a{
    display: flex;
    align-items: center;
    height: 50px;
    top: -15px;
    position: absolute;
    left: var(--exp-title-width);
    width: max-content;
    text-decoration: none;
    pointer-events: all;
}
.exp-wrapper a::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    top: 35px;
    width: 0;
    background: transparent;
    transition: all 1s ease;
    margin-top: 0.25rem;
}
.exp-wrapper a:hover::after {
    width: 100%;
    background: var(--exp-company-color);
}

.project-description{
    padding: 2rem;
    line-height: 2;
    text-align: left;
}

.projects-wrapper{
    width: calc(var(--about-me-box-width));
    max-width:50rem;
    line-height: 2;
    box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
    margin:0 auto;
}

.project-new{
    padding: 0 2rem 2rem 2rem;
    width: -webkit-fill-available;
    height: 18rem;
    position: relative;
}

.project{
    position: absolute;
    height: calc(100% - 2rem);
    width: calc((100% - 4rem)*3/5);
    border:1px solid bisque;
    z-index:14;
    left:0;
}
.project-2{
    left:calc((100% - 4rem)*1/5);
    z-index:15;
}
.project-3{
    left:calc((100% - 4rem)*2/5);
    z-index:16;
    background-image: url("Sample_screenShot4.png");
}