body {
    /* background-color: rgba(33, 37, 41, 1) !important; */
    /* background: linear-gradient(#141e30, #243b55); */
    /* background-color: rgb(13 23 33) !important; */
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    cursor: none;
    transition: all 1s ease-in;
}

#background-firefly-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 400px) {
    body {
        box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5);
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    background: radial-gradient(ellipse at center, #3d5570 0%, #090A0F 100%);
    margin: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.slide-wrapper {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.slide-wrapper main {
    overflow-y: scroll;
    padding: 1rem 1rem 5rem 1rem;
    --slide-width: 100% !important;
    --slide-height: 100% !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slide-wrapper main::-webkit-scrollbar {
    display: none;
}

.blured-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #090a0f73;
    opacity: 0;
    z-index: 5;
    transition: all var(--transition-blur);
    visibility: hidden;
}

.blur {
    opacity: 1;
    visibility: var(--transition-blur);
}