.error{
    border: 2px solid #a0262e !important;
    background: #d6c0c0 !important;
}

.icon-conatiner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-conatiner svg {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: 43px;
    height: 43px;
    fill: #fff;
}

.icon-conatiner svg[data-icon-type="linkedin"]:hover {
    fill: rgb(0,122,181);
}
.icon-conatiner svg[data-icon-type="git"]:hover {
    fill: rgb(132,48,164);
}
.icon-conatiner svg[data-icon-type="email"]:hover {
    fill: rgb(205,60,48);
}
.icon-conatiner svg[data-icon-type="hackerrank"]:hover {
    fill: rgb(46,200,102);
}
.icon-conatiner svg[data-icon-type="disqus"]:hover {
    fill: rgb(34,156,255);
}
.login-box {
    margin: 2.75rem auto;
    backdrop-filter: blur(5px);
    width: 500px;
    padding: 40px 40px 10px 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    backdrop-filter: 10px;
}

.login-box .text-contact {
    margin: 0;
    font-size: 1.375rem;
}

.login-box h1.text-title-contact {
    font-size: 2rem;
    margin: 10px 0 40px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input,
.login-box .user-box textarea {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #2c3e50;
    outline: none;
    background: #f6f6f6;
    color:black;
    transition: background 0.75s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.login-box .user-box textarea {
    resize: vertical;
}

.disable{
    pointer-events: none;
    background: #999 !important;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}

.error-message{
    display: flex;
    color: #c44f4f;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.button {
    --primary: #275efe;
    --primary-dark: #2055ee;
    --primary-darkest: #133fc0;
    --text: #fff;
    --text-opacity: 1;
    --success: #1bcd65;
    --success-scale: 0.2;
    --success-opacity: 0;
    --border-radius: 7;
    --overflow: hidden;
    --rotate: 0;
    --plane-x: 0;
    --plane-y: 0;
    --plane-opacity: 1;
    --left-wing-background: var(--primary);
    --left-wing-first-x: 0;
    --left-wing-first-y: 0;
    --left-wing-second-x: 50;
    --left-wing-second-y: 0;
    --left-wing-third-x: 0;
    --left-wing-third-y: 100;
    --left-body-background: var(--primary);
    --left-body-first-x: 50;
    --left-body-first-y: 0;
    --left-body-second-x: 50;
    --left-body-second-y: 100;
    --left-body-third-x: 0;
    --left-body-third-y: 100;
    --right-wing-background: var(--primary);
    --right-wing-first-x: 50;
    --right-wing-first-y: 0;
    --right-wing-second-x: 100;
    --right-wing-second-y: 0;
    --right-wing-third-x: 100;
    --right-wing-third-y: 100;
    --right-body-background: var(--primary);
    --right-body-first-x: 50;
    --right-body-first-y: 0;
    --right-body-second-x: 50;
    --right-body-second-y: 100;
    --right-body-third-x: 100;
    --right-body-third-y: 100;
    display: block;
    cursor: pointer;
    position: relative;
    border: 0;
    padding: 8px 0;
    min-width: 100px;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    background: none;
    outline: none;
    color: var(--text);
    transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.button .left, .button .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}
.button .left:before, .button .right:before, .button .left:after, .button .right:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--border-radius) * 1px);
    transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
    z-index: var(--z-index, 2);
    background: var(--background, var(--left-wing-background));
    clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}
.button .left:after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
}
.button .right:before {
    --x: -0.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
}
.button .right:after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
}
.button span:not(.loader-span) {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
}
.button span:not(.loader-span).success {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale)) translateZ(0);
    opacity: var(--success-opacity);
    background-color: var(--success);
    color: #fff;
    display: flex;
    gap: 10px;
    padding: 6px 12px;
    border-radius: 10px;
    width: max-content;
}

.loader span.loader-span {
    display: inline-block;
    height: 8px;
    width: 8px;
    background: #fff;
    border-radius: 0px;
}
.border-radius {
    border-radius: 500px;
}
.loader span:nth-child(1) {
    border-radius: 500px;
    animation: scale 1s 0.1s infinite cubic-bezier(0.600,-0.28,0.735,0.045);
}
.loader span:nth-child(2) {
    border-radius: 500px;
    animation: scale 1s 0.2s infinite cubic-bezier(0.600,-0.28,0.735,0.045);
}
.loader span:nth-child(3) {
    border-radius: 500px;
    animation: scale 1s 0.3s infinite cubic-bezier(0.600,-0.28,0.735,0.045);
}
.loader span:nth-child(4) {
    border-radius: 500px;
    animation: scale 1s 0.4s infinite cubic-bezier(0.600,-0.28,0.735,0.045);
}
.loader span:nth-child(5) {
    border-radius: 500px;
    animation: scale 1s 0.5s infinite cubic-bezier(0.600,-0.28,0.735,0.045);
}

@keyframes scale {
    0% {
        transform: scale(0.0);
   }
    25% {
        transform: scale(0.9,0.9);
        background: #93e1d7;
   }
    50% {
        transform: scale(1,1);
        margin: 0 3px;
        background: #2FAC9B;
   }
    100% {
        transform: scale(0.0);
   }
}
