:root {
    --transition-blur: 0.5s ease
}

header {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hidden {
    display: none;
}

header {
    background: transparent;
    transition: background var(--transition-blur);
}

header main {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    position: relative;
}

header main button {
    position: relative;
    --size: 60px;
    border: none;
    min-width: var(--size);
    height: 60px;
    max-height: 60px;
    outline: none;
    color: #fff;
    transition: background 200ms ease, color 200ms ease;
    cursor: none;
    background: transparent;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    font-weight: 700;
    border-bottom: .25rem solid transparent;
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, .3);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header main button.active{
    color: #fff;
}

header main:hover button {
    color: rgba(255, 255, 255, .3);
}
header main:hover button:hover {
    color: #fff;
}

header main:hover button.active::after{
    background: rgba(255, 255, 255, .3);
}

header main button.active:hover::after{
    background: #fff;
}

header main button::after{
    content: ' ';
    position: absolute;
    background: #fff;
    width: 0;
    transition: all 0.75s ease;
    height: 4px;
    bottom: 9px;
    left: 12px;
}

header main button.active::after{
    width: calc(100% - 24px);
}

header main button:hover{
    text-shadow: 0px 3px 0px black;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 100;
    background: white;
    position: absolute;
    pointer-events: none;
    
}

.cursor--large {
    --size: 28px;
    border: 2px solid white;
    mix-blend-mode: overlay;
    max-height: 58px !important;
}
.cursor-max-height-override{
    height: 175px;
    max-height: 175px !important
}

.cursor--small {
    --size: 10px;
    transform: translate(-50%, -50%);
    mix-blend-mode:exclusion;
}

.dark-background {
    background: #090a0f73;
}