body.reveal-viewport {
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    --slide-width: 100% !important;
    --slide-height: 100% !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.reveal-viewport::-webkit-scrollbar {
    display: none;
}

.reveal-viewport>.reveal {}

.reveal .slides {
    transform: none !important;
    inset: auto !important;
    height: 100% !important;
    width: 100% !important;
}

.reveal .slides section {
    top: 0 !important;
    height: 100%;
}
