.about-me-wrapper{
    margin: 7.3rem auto 0;
    padding: 1rem;
    width: 800px;
    line-height: 2;
    box-shadow: rgb(0 0 0 / 56%) 0px 22px 70px 4px;
    text-align: justify;
    position: relative;
}
section[data-slide="about-me"] .lottie-container-2{
    position: absolute;
    top: -150px;
    right: 0;
    height: 150px;
    overflow: hidden;
}
section[data-slide="about-me"] .lottie-container-2 lottie-player{
    height:200px;
    width:200px;
}